body {
     background-image: url("tesla_roadster_01.jpg")



}
#tesla{
    max-width: 200px;
    height: 500%;body {
     background-image: url("tesla_roadster_01.jpg")



}
#tesla{
    max-width: 200px;
    height: 500%;